@import url('https://fonts.googleapis.com/css?family=Comfortaa|Exo+2|Jura:400,600|Open+Sans|Open+Sans+Condensed:300|Roboto');

html, body {
	height: 100%;
}

#wrapper {
	display: flex;
	position: relative;
	-webkit-flex-direction: column;
	 -moz-flex-direction: column;
	 -ms-flex-direction: column;
	 -o-flex-direction: column;
	 flex-direction: column;
	 height: 100%;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.line {
	height: 4px;
	width: 100%;
	background: repeating-linear-gradient(90deg,
		#F22613 0%, #F22613 10%,
		#E08283 10.1%, #E08283 20%,
		#8E44AD 20.1%, #8E44AD 30%,
		#22A7F0 30.1%, #22A7F0 40%,
		#26C281 40.1%, #26C281 50%,
		#F4D03F 50.1%, #F4D03F 60%,
		#F39C12 60.1%, #F39C12 70%,
		#BFBFBF 70.1%, #BFBFBF 80% 

		) 4em;
}



#header {
	background: #2C3E50;
	box-shadow: 0 0 10px black;
	z-index: 1;
}

.header-cont {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	box-sizing: border-box;
	flex-wrap: wrap;
}

.menu {
	display: block;
	width: 0;
	height: 0;
}

label[for="menu"] {
	position: absolute;
	z-index: 2;
	right: 15px;
	top: 33px;
	cursor: pointer;
}

label[for="menu"] > span {
	display: block;
	width: 30px;
	height: 30px;
	transform: rotate(90deg);
	color: #03C9A9;
	font: 3em 'Jura';
	letter-spacing: -3px;
}

.nav_m {
	position: absolute;
	height: 100%;
	background: #2C3E50;
	right: 0;
	z-index: 3;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	z-index: 0;
	border-top: 4px solid #F4D03F;
}

.nav_m-item {
	position: relative;
	width: 200px;
}

.nav_m-item>a {
	display: block;
	color: #03C9A9;
	font: 1em 'Jura';
	font-weight: 600;
	padding: 20px;
	text-align: center;
}

.nav_m-item>a:hover {
	background: rgba(255, 255, 255, .1);
	border-left: 4px solid #03C9A9;
}

.menu:checked ~ label[for="menu"]{
	right: 215px;
}

.menu:checked ~ #wrapper {
	right: 200px;
}

.logo a {
	color: #03C9A9;
	font: 2em 'Roboto';
}

.logo-span {
	background: #03C9A9;
	padding: 2px;
	color: #2C3E50;
}

.nav {
	display: flex;
	justify-content: space-between;
	flex-grow: 1;
	max-width: 600px;
}

.nav-item {
	position: relative;
	flex-grow: 1;
}

.nav-item a {
	color: #03C9A9;
	text-transform: uppercase;
	font: 1em 'Jura';
	text-align: center;
	display: block;
	padding: 15px;
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
	font-weight: 600;
}

.nav-item a:hover {
	color: #2C3E50;
	background: #03C9A9;
}

#content {
	flex-grow: 1;
	height: 1000px;
	background: #fff;
}

.parallax {
	height: 500px;
	width: 100%;
	background: url(../img/parallax1.jpg) no-repeat 100% fixed;
	-webkit-background-size: cover;
	background-size: cover;
	z-index: 0;
}

.parallax-inner {
	height: inherit;
	width: inherit;
	background: rgba(0, 0, 0, .7);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 190px 0;
}

.parallax-h1 {
	display: block;
	margin: 0 auto;
	width: 300px;
	text-align: center;
	color: #fff;
	letter-spacing: 3px;
	border-top: 1px dashed #fff;
	border-bottom: 1px dashed #fff;
	padding: 20px;
	font: 2em 'Jura';
}

.text {
	font: 1em 'Open Sans';
	padding: 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#footer {
	background: #2C3E50;
	box-shadow: 0 0 10px black;
	height: 200px;
	text-align: center;
	color: #fff;
	z-index: 1;
	font: 2em 'Comfortaa';
	line-height: 200px;
	margin-top: 50px;
}